#s4 {
    background-color: #99cc22;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    width: 100%;
    min-height: 100vh;
}
